<!DOCTYPE html>
<html>
  <%- include('partials/head', {title: title}) %>
  <body class="bg-neutral-50 min-h-screen flex flex-col">
    <%- include('partials/nav', {developers: developers}) %>
    <main class="flex-1 flex flex-col items-center pt-[150px] max-w-[1200px] w-full mx-auto p-3 gap-10">
      <h1 class="text-3xl text-red-500"><%= title %></h1>
      <form action="" method="post" class="flex flex-col gap-5 text-xl bg-white shadow-md p-5">
        <h2 class="text-center font-semibold">Are you sure you want to delete console <%= gameconsole.name %> ?</h2>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" class="border-neutral-400 border-[1px] p-1 rounded">
        <input type="hidden" name="consoleid" required <%- `value="${gameconsole._id}"` %> id="consoleid">
        <button type="submit" class="bg-red-500 text-neutral-50 rounded p-2 font-semibold">Delete</button>
      </form>
      <ul class="flex flex-col items-center gap-3">
        <% if (locals.errors) { %>
        <% errors.forEach(error => { %>
          <li class="text-red-500 text-xl"><%= error.msg %></li>
        <% }) %>
        <% } %>
      </ul>
    </main>
  </body>
</html>